// Spacing 0- tailwind values
$spacing-0: 0px;
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.25rem; // 20px
$spacing-6: 1.5rem; // 24px
$spacing-7: 1.75rem; // 28px
$spacing-8: 2rem; // 32px
$spacing-9: 2.25rem; // 36px
$spacing-10: 2.5rem; // 40px
$spacing-11: 2.75rem; // 44px
$spacing-12: 3rem; // 48px
$spacing-14: 3.5rem; // 56px
$spacing-16: 4rem; // 64px
$spacing-20: 5rem; // 80px
$spacing-24: 6rem; // 96px
$spacing-28: 7rem; // 112px
$spacing-32: 8rem; // 128px
$spacing-36: 9rem; // 144px

// Colors
$blue01: #002664;
$blue02: #146cfd;
$blue03: #8ce0ff;
$blue04: #cbedfd;
$brown01: #523719;
$brown02: #b68d5d;
$brown03: #e8d0b5;
$brown04: #ede3d7;
$fuchsia01: #65004d;
$fuchsia02: #d912ae;
$fuchsia03: #f4b5e6;
$fuchsia04: #fddef2;
$green01: #004000;
$green02: #00aa45;
$green03: #a8edb3;
$green04: #dbfadf;
$grey01: #22272b;
$grey02: #495054;
$grey03: #cdd3d6;
$grey04: #eeeeee;
$grey05: #acacac;
$orange01: #941b00;
$orange02: #f3631b;
$orange03: #ffce99;
$orange04: #fdeddf;
$purple01: #441170;
$purple02: #8055f1;
$purple03: #cebfff;
$purple04: #e6e1fd;
$red01: #630019;
$red02: #d7153a;
$red03: #ffb8c1;
$red04: #ffe6ea;
$teal01: #0b3f47;
$teal02: #2e808e;
$teal03: #8cdbe5;
$teal04: #d1eeea;
$yellow01: #694800;
$yellow02: #faaf05;
$yellow03: #fde79a;
$yellow04: #fff4cf;
$black: #000000;
